/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.cm-embed-link, *:has(> .og-link) {
    display: block;
    container-name: og-link;
    container-type: inline-size;
}
.og-link {
    width: 100%;
    height: auto;

    display: inline-flex;
    gap: 8px;
    flex-direction: column;
    flex-wrap: nowrap;

    background: none;
    padding-right: 0;
    border: 1px solid var(--divider-color);
    color: var(--text-normal);
    text-decoration: none;
}
.og-link:hover {
    text-decoration: none;
    color: var(--text-normal);
}

table > tbody > tr> td:has(.og-link) {
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}
table > tbody > tr> td > .table-cell-wrapper:has(.og-link) {
    padding: 0 !important;
    margin: 0 !important;
}

.og-thumbnail {
    width: 100%;
}
.og-thumbnail img {
    height: 100%;
    max-height: 150px;
    object-fit: cover !important;
    border-radius: 0 !important;
}
.og-info-container {
    padding: var(--size-4-3) var(--size-4-2);
    overflow: hidden;
    text-overflow: ellipsis;
}

.og-summary {
    font-size: 0.8rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    color: var(--text-normal);
    margin: 8px 0;
}
.og-url {
    font-size: 0.8rem;
    margin-block: 0 !important;
    color: var(--link-color);
}

@container og-link (width > 360px) {
    .og-link {
        max-height: 130px;
        flex-direction: row;
        gap: 0;
    }
    .og-thumbnail {
        width: 150px;
        flex-shrink: 0;
    }
}