/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.og-link {
    display: block;
    padding-right: 0;
    text-decoration: none;
    background-image: none;
    container-name: og-link;
    container-type: inline-size;
}
.og-link:hover {
    text-decoration: none;
}
.og-link .og-preview {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    border: var(--cards-border-width) solid var(--background-modifier-border);
    background: none;
    color: var(--text-normal);
    text-decoration: none;
    background: none;

}
.og-preview:hover {
    text-decoration: none; 
    color: var(--text-normal);
}

table > tbody > tr> td:has(.og-link) {
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}
table > tbody > tr> td > .table-cell-wrapper:has(.og-link) {
    padding: 0 !important;
    margin: 0 !important;
}
table > tbody > tr> td .og-preview {
    border-left: 0;
    border-right: 0;
}

.og-preview .og-thumbnail {
    width: 100%;
}
.og-preview .og-thumbnail img {
    height: 100%;
    max-height: 150px;
    object-fit: cover !important;
    border-radius: 0 !important;
}
.og-preview .og-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    overflow: hidden;
    padding: var(--size-4-3) var(--size-4-2);
}
.og-preview .og-info-container .og-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.og-preview .og-summary {
    font-size: 0.8rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    color: var(--text-normal);
}
.og-preview .og-url {
    font-size: 0.8rem;
    margin-block: 0 !important;
    color: var(--link-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@container og-link (width > 360px) {
    .og-link .og-preview {
        height: 130px;
        flex-direction: row;
    }
    .og-preview .og-thumbnail {
        width: 150px;
        flex-shrink: 0;
    }
}